body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/public/bg1.jpg);
  background-size: cover;
  padding-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.main {
  width: 500px; /* ширина */
  margin: 0 auto; /* центрування блоку */
  padding: 10px 30px;
  border: 4px solid darkblue;
  border-radius: 10px;

  background-color: #d3d9f6;
  position: relative;
}

.main:after {
  content: url(../public/flat.png);
  position: absolute;
  top: -40px;
  right: -30px;
}

.title {
  font-size: 24px;
  color: red;
}

.list {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  text-align: left;
}

.task {
  display: flex;
  justify-content: space-between; /* горизонтально - по краям */
  align-items: center; /* вертикально - по центру */
  border-bottom: 1px solid mediumpurple; /* нижня рамка пыд задачею */
}

.btn {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: white;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 4px;
  font-size: 14px;

  transition: all 0.3s; /* плавна анімація */
}

.btn:hover {
  background-color: rgb(224, 77, 77);
  color: white;
  cursor: pointer;
}

input {
  padding: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 16px;
}

input::placeholder {
  color: silver;
  letter-spacing: 2px;
}

.complete {
  text-decoration: line-through;
  color: lightsteelblue;
}

/* Стилі для мобільних пристроїв, які відрізняються */
@media (max-width: 768px) {
  .main {
    /* margin-left: 10px;
    margin-right: 10px; */
    max-width: 90%;
  }

  .title {
    font-size: 40px;
  }

  .list {
    font-size: 26px;
  }

  .btn {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  input {
    font-size: 26px;
    max-width: 100%;
  }
}
